@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Esta es la página se ha modificado</h1>

@if ((bool)ViewData["hayValor"]) {
    <h2>Han pasado un id</h2>
}

<ul>
    @{
        var i = 0;
        foreach (var item in ViewData["listado"] as List<string>) {
            <li>@item (@(i + 1))</li>
            i++;
        }
    }
</ul>